.App {
  text-align: center;
  margin-top: 45px;
 
 
  
}

th, td {
  width: 95px;
  border: 1px solid black;
  background-color: antiquewhite;
  border-radius: calc();
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    background-color: aqua;
  }
  to {
    transform: rotate(360deg);
    background-color: blanchedalmond;
  }
}
